html {
	height: 100%;
}
body {
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #f4f2e6;
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	color: #4a4945; /* tamnija: #313236 */
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #da2f1b;
}

a:hover {
	color: #c32918;
}

a:active {
	color: #e75140;
}

h2 {
	font-size: 1.8em;
	margin-left: 14px;
}
div#header {
	width: 980px;
	height: auto;
	margin: auto;
	margin-bottom: 6px;
}

div#logo_holder {
	position: relative;
	height: 100px;
	padding-top: 15px
}

div#header_kanji {
	width: auto;
	padding-left: 125px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 6em;
	font-weight: bold;
}

div#header_latin {
	position: absolute;
	bottom: 0;
	left: 306px;
	margin-bottom: 6px;
	font-size: 1.6em;
	font-weight: bold;
}

div#wrapper {
	clear: both;
	position: relative;
	width: 980px;
	min-height: 100%;
	margin: auto;
}

div#main {

}

div#navigation {
	width: 200px;
	float: left;
	font-size: 1.8em;
	font-weight: bold;
	text-align: right;
}

div#navigation ul {
	margin: 70px 0 0;
	padding: 10px 0;
    list-style-type: none;
}

div#navigation li {
	margin-bottom: 23px;
	padding: 0 15px;
}

div#content_holder {
	width: 760px;
	float: right;
}

div#content {
	margin-bottom: 50px;
	padding: 0 10px;
}

div#practise_options {
	margin: 22px 0 0 9px;
}

div#kana_table_holder {
}

div#kana_table {
}

div#kana_table table {
	margin: 25px 0 0 14px;
}

div#kana_table table, tr, td, th {
	/*border: 1px solid black;*/
	text-align: left;
}

div#kana_table td {
	width: 96px;
	height: 24px;
	padding-left: 8px;
}

div#kana_table tr {
}

div#kana_table th {
	padding-left: 30px;
	background-color: #575652;
	color: #f4f2e6;
}

div#kana_table tr.table_symbol:nth-child(odd) {
	background-color: transparent;
}

div#kana_table tr.table_symbol:nth-child(even) {
	background-color: #E5E0C3;
}

div#kana_table td.table_prefix {
	width: 65px;
	padding-right: 8px;
	text-align: right;
	background-color: #575652;
	color: #f4f2e6;
}

div#kana_table td.empty_box {
	width: auto;
}

div#kana_table td.row_checkbox {
	width: 26px;
	padding: 0;
	text-align: center;
}

div#footer {
	clear: both;
	width: auto;
	height: 30px;
	margin: 15px 0 0 10px;
	font-size: 0.8em;
}












