html {
	height: 100%;
}
body {
	height: 100%;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: #f4f2e6;
	margin: 0;
	padding: 0;
	font-size: 0.85em;
	color: #4a4945; /* tamnija: #313236 */
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #e33304; /* stara: #da2f1b */
}

a:hover {
	color: #c32918;
}

a:active {
	color: #e75140;
}

h2 {
	font-size: 1.8em;
	margin-top: 2px;
	margin-left: 14px;
}

h3 {
	margin-bottom: -5px;
}

h4 {
	margin: 15px 0 5px 0;
}

p, form {
	font-size: 0.9em;
}

ul {
	font-size: 0.95em
}

div#header {
	width: 980px;
	height: auto;
	margin: auto;
	margin-bottom: 6px;
}

div#logo_holder {
	position: relative;
	height: 100px;
	padding-top: 15px
}

div#logo_holder a {
	color: #4a4945;
}

div#header_kanji {
	width: auto;
	padding-left: 125px;
	position: absolute;
	bottom: 0;
	left: 0;
	font-size: 6em;
	font-weight: bold;
}

div#header_latin {
	position: absolute;
	bottom: 0;
	left: 306px;
	margin-bottom: 6px;
	font-size: 1.6em;
	font-weight: bold;
}

div#wrapper {
	clear: both;
	position: relative;
	width: 980px;
	min-height: 100%;
	margin: auto;
}

div#main {

}

div#navigation {
	width: 200px;
	float: left;
	font-size: 1.85em;
	font-weight: bold;
	text-align: right;
}

div#navigation ul {
	margin: 70px 0 0;
	padding: 10px 0;
    list-style-type: none;
}

div#navigation li {
	margin-bottom: 23px;
	padding: 0 8px;
}

div#content_holder {
	width: 760px;
	float: right;
	margin: 10px 0 50px;
	padding-left: 7px;
	border-left: #4A4945 2px solid;
}

div#content {
	margin-bottom: 50px;
	padding: 0 10px 5px;
}

div#practice_options {
}

div#practice_options p {
	font-size: 0.9em;
}

div#kana_table_holder {
}

div#kana_table {
}

div#kana_table table {
	table-layout: auto;
	margin: 16px 0 0 4px;
}

div#kana_table table, tr, td, th {
	text-align: left;
}

div#kana_table tr {
}

div#kana_table th {
	padding-left: 31px;
	background-color: #575652;
	font-size: 0.9em;
	color: #f4f2e6;
}

div#kana_table td {
	height: 24px;
}

div#kana_table td.options_td {
	width: auto;
	padding: 0 14px 0 8px;
}

div#kana_table td.stats_td {
	width: auto;
	padding: 0 14px 0 8px;
	cursor: default;
}

div#kana_table tr.table_symbol:nth-child(odd) {
	background-color: transparent;
}

div#kana_table tr.table_symbol:nth-child(even) {
	background-color: #e5e0c3;
}

div#kana_table td.table_prefix {
	width: 65px;
	padding-right: 8px;
	text-align: right;
	background-color: #575652;
	font-size: 0.9em;
	color: #f4f2e6;
}

div#kana_table td.empty_box {
	width: auto;
}

div#kana_table td.row_checkbox {
	width: 26px;
	padding: 0;
	text-align: center;
}

span.symbol_info {
	font-size: 0.9em;
}

div#test {
	width: 500px;
	float: left;
	margin-bottom: 20px;
	padding-top: 60px;
}

div#flashcard {
	height: 300px;
    width: 300px;
    margin: 0px auto;
	display: table;
}

div#flashcard_content {
	display: table-cell;
	vertical-align: middle;
	background-image: url("images/circle.png");
	background-repeat: no-repeat;
	font-size: 8em;
	text-align: center;
	color: #313236;
    text-shadow:
		-1px -1px 0 #f4f2e6,
		1px -1px 0 #f4f2e6,
		-1px 1px 0 #f4f2e6,
		1px 1px 0 #f4f2e6;
}

div#flashcard_content img {
	margin-top: 32px;
	opacity: 1.0;
	cursor: default;
}

div#flashcard_content img:hover {
	opacity: 0.85;
	cursor: pointer;
}

div#flashcard_table {
    margin: 20px auto 0;
	display: table;
}

div#flashcard_table table {
	display: table-cell;
	vertical-align: middle;
}

div#flashcard_table tr {
}

div#flashcard_table td {
	width: 96px;
	height: 24px;
	background-color: #4a4945;
	color: #f4f2e6;
	text-align: center;
	cursor: pointer;
}

div#flashcard_table td:hover {
	background-color: #313236;
}

div#flashcard_table td:active {
	background-color: #64635e;
}

div#flashcard_table td.answers_table_header, td.answers_table_header:hover, td.answers_table_header:active {
	background-color: #E5E0C3;
	color: #4a4945;
	font-weight: bold;
}

div#score_table_holder {
	width: 200px;
	height: 300px;
	margin: 70px 0 0 0;
	float: left;
}

div#score_table_holder table {
	font-size: 0.9em;
}

div#score_table_holder tr {
	height: 22px;
}

div#score_table_holder th {
	padding: 0px 22px 0 11px;
	background-color: #575652;
	color: #f4f2e6;
}

div#score_table_holder td {
	padding: 0px 22px 0 11px;
	background-color: #e5e0c3;
	font-weight: bold;
}

div#score_table_holder td.score_padding {
	background-color: transparent;
	height: 18px;
}

div#flashcard_info {
	clear: both;
	width: 485px;
	font-size: 0.95em;
}

div#social {
	clear: both;
	width: auto;
	height: auto;
	margin: 10px 0 0 10px;
}

/* --- fb top marign fix --- */
div .fb-like, .fb_edge_widget_with_comment, .fb_iframe_widget {
	width: 106px;
}

div #fb_button, #tw_button, #gp_button {
    font-size: 3px;
    display: inline-block;
}

div .fb_reset {
    display: inline;
}

/* ------------------------- */

div#footer {
	width: auto;
	height: 19px;
	margin: 7px 0 0 10px;
	font-size: 0.8em;
}











